@font-face {
    font-family: 'Press Start 2P';
  }
html, body {
    width:  99%;
    height: 100%;
    margin: 0;
  }
  body {
    background-color: #7cedea;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
  }

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    
    z-index: -5;
    animation: floating 6s linear infinite;

}
#game-over {
    width: 100%;
    height: 100%;
    
    text-align: center;
    display: none;
}
#game-over-text {
    color: red;
    width: 80%;
    font-size: 250px;
    display: inline-block;
    margin-left: -13%;
    
}
#saved-score {
    background-color: #13ff13;
    margin-bottom: 50px;
    display: none;
}
#score-error {
    background-color: #ff2929;
    margin-bottom: 50px;
    display: none;
}
#player-name-label {
    color: #13ff13;
}
#high-score-display {
    background-color: red;
    width: 15%;
    height: 50%;
    float: left;
    margin-top: 2.1%;
    margin-left: 2%;
    display: inline-block;
    text-align: left;
}
#high-score-display-list {
    position: absolute;
    background-color: whitesmoke;
}
#high-score-display-list li {
    font-size: 25px;
    list-style: none;
    margin-left: -25px;
    
}
#high-score-display-list::before {
    content: attr(aria-label);
    font-size: 100%;
    font-weight: bold;
    padding-left: -10px;

}
#high-score-display-list li::before {
    content: '>';
    padding-right: 8px;
}
#team-select {
    height: 100%;
    width: 100%;
    display: none;
}

#side-bar {
    background-color: grey;
    border: solid 5px darkgrey;
    box-shadow: 3px 3px darkslategray;
    width: 35vw;
    margin-top: 2vw;
    margin-left: 1vw;
    float: right;
    display: none;
    
    
}
#side-bar h1 {
    text-align: center;
}
#astronaut-list {
    background-color: grey;
    position: relative;
    margin-left: 2%;
    height: 100%;
    margin-top: 3%;
    margin-right: 2%;
    border: solid 5px darkgrey;
    box-shadow: 3px 3px darkslategray;
    display: none;
}
#astronaut-list li {
    margin-left: 30px;
    font-size: 2vw;
    
}
.col {
    padding-right: 0px;
}
.team {
    position: relative;
    height: 100%;
    max-width: 33%;
    margin-left: 1%;
    margin-top: 1%;
    min-height: 350px;
    min-height: 400px;
}
.team ul {
    min-height: 284px;
}
.team li {
    font-size: 20px;
}
#create-team-error {
    background-color: #ff2929;
    margin-bottom: -2%;
    display: none;
    
    width: 100%;
    text-align: center;
    margin-top: 1%;
}
#team-list {
    background-color: grey;
    max-width: 47.5%;
    margin-top: -20%;
    margin-left: 1%;
    height: 100%;
 
    border: solid 5px darkgrey;
    box-shadow: 3px 3px darkslategray;
}
#team-select-r1 {
    margin-bottom: 2%;
}
#space {
    border: solid 7px grey;
    box-shadow: 5px 5px darkgrey;
    border-radius: 25px;
    margin: 2vw 0vw 0vw 3vw;
    width: 1750px;
    height: 875px;
    display: none;
    
    
}
#form-container {
    display: none;
    position: relative;
    background-color: grey;
    border: solid 5px darkgrey;
    box-shadow: 3px 3px darkslategray;
    margin: 3% 0 25% 1%;
    width: 35%;
    max-height: 162px;
    
    

}

#player-name {
    width: 40%;
    margin:auto;
}
#start-game-screen {
    margin: auto;
    position: absolute;
    top: 45%;
    left: 25%;
    width: 51%;
    
    
}

.start-screen-buttons {
        text-align: center;
        display: inline-block;
        margin:5px;
        font-weight: bold;
        padding: 10px 0 10px 10px;
        border-radius: 7px;
        cursor: pointer;

}
#scores-button {
    color: #000000;
    background: #ff2929;
    box-shadow: 0 0.2em #af1616;
    text-shadow: 2px 2px #af1616;
}
#start-button {
    background-color: #13ff13;
    box-shadow: 0 0.2em #037f03;
    text-shadow: 2px 2px #037f03;
}
#create-team-button {
    background-color: #ffff29;
    box-shadow: 0 0.2em #7d7d00;
    text-shadow: 2px 2px #7d7d00;
}
#save-team {
    background-color: #ffff29;
    box-shadow: 0 0.2em #7d7d00;
    text-shadow: 2px 2px #7d7d00;
    display: none;
}

.back-button {
    color: #000000;
    background: #ff2929;
    
    box-shadow: 0 0.2em #af1616;
    text-shadow: 2px 2px #af1616;
    display: none;
}
#team-select-back-button {
    margin-left: 2%;
    display: none;
}
#create-team-back-button {
    margin-left: 2%;
    display: none;
}
#save-team:active {
    box-shadow: none;
    top: 0.2em;
    position: relative;
}
#team-select-back-button:active {
    box-shadow: none;
    top: 0.2em;
    position: relative;
}
#scores-button:active {
    box-shadow: none;
    top: 0.2em;
    position: relative;
}
#start-button:active {
    box-shadow: none;
    top: 0.2em;
    position: relative;
    
}

.back-button:active {
    box-shadow: none;
    top: 0.2em;
    position: relative;
}
#create-team-button:active {
    box-shadow: none;
    top: 0.2em;
    position: relative;
}


@keyframes floating {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 7px
    }
}
